.productContainer {
    height: 100vh;

    .productForm {
        max-width: 45rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-self: center;
        margin: auto;
    }

    H2 {
        color: #FFF;
    }
}